/* ESTILOS GENERALES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #fff;
    color: #333;
    line-height: 1.6;
}

/* ENCABEZADO */
.header {
    background-color: #f8c8dc;
    text-align: center;
    padding: 40px 20px;
}

.header h1 {
    font-size: 2.5rem;
}

.header p {
    font-size: 1.1rem;
}

/* MENÚ */
.nav {
    background-color: #f3a6c8;
    text-align: center;
    padding: 15px;
}

.nav a {
    color: #f4f0f0;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.nav a:hover {
    text-decoration: underline;
}

/* SECCIONES */
.section {
    padding: 50px 20px;
    max-width: 1000px;
    margin: auto;
}

.section-light {
    background-color: #f9f9f9;
}

.section h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #b03060;
}

/* PRODUCTOS */
.productos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.producto {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    width: 280px;
    text-align: center;
    border-radius: 8px;
}

.producto h3 {
    color: #b03060;
    margin-bottom: 10px;
}

/* FOOTER */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 0.9rem;
}
